table {
border-collapse: collapse;
width: 100%;
font: Verdana;
}
th {
font-weight:bold; 
background-color:yellow;
border: 2px solid black;
}
td {
border: 2px dotted blue;
}
h1 {
color:green;
text-align:center;
}
