table {
border-collapse:collapse;
width:650px;
font:Verdana;
text-align:center;
}
th {
font-weight:bold; 
background-color:yellow;
border: 2px solid black;
}
td {
border: 2px dotted blue;
}
h1 {
color:green;
text-align:center;
}
body {
text-align:center;
}
